html, body {
    width: 100%;
    height: 100%;
    margin: 0px !important;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.header{
    height: 200px;
    background-color: #415BA8;
}

.footer{
    height: 400px;
    background-color: #415BA8;
}

.judul{
    font-size: 39px;
    color: #415BA8 !important;
    font-weight: bolder;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6) !important;
}

.sublist{
    width: 40% !important;
}

.btn-outline-light{
    color: #000 !important;
    border: 2px #000 solid !important;
    font-weight: 600 !important;
    font-size: 24px !important;
}

.btn-outline-light:hover{
    color: #fff !important;
    border: 2px #fff solid !important;
    background-color: #415BA8 !important;
}

.custom_button{
    position: relative !important;
/*     margin-left: 50% !important;
    margin-top: 27% !important; */
	text-align: right;
}

.pic{
    width: 35%;
    height: auto;
}

.descEvent{
    text-align: justify;
}



/* timeline */

.timeline-steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.timeline-steps .timeline-step {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem;
}

@media (min-width:991px) {
    .timeline-steps .timeline-step:not(:last-child):after {
        content: "";
        display: block;
        border-top: .25rem dotted #415BA8;
        width: 3.46rem;
        position: absolute;
        left: 7.5rem;
        top: .3125rem
    }
    .timeline-steps .timeline-step:not(:first-child):before {
        content: "";
        display: block;
        border-top: .25rem dotted #415BA8;
        width: 3.8125rem;
        position: absolute;
        right: 7.5rem;
        top: .3125rem;
    }
}

@media (max-width: 991px) {
    .timeline-steps {
        flex-direction: column;
    }

    .timeline-steps .timeline-step:not(:last-child):after {
        content: '\205E';
        font-size: 35px;
        color: #425ba4;
        text-align: center;
        display: block !important;
         position: relative;
         top: .3125rem;
    }
    .timeline-steps .timeline-step:not(:first-child):before {
        content: "\205E";
        font-size: 35px;
        color: #425ba4;
        text-align: center;
        display: block;
        position: relative;
        top: -40px;
    }

    .timeline-content p{
        font-size: 1.5rem !important;
    }


    .btn-outline-light{
        font-size: 18px !important;
    }
}

.timeline-steps .timeline-content {
    width: 10rem;
    text-align: center;
}

.timeline-steps .timeline-content .inner-circle {
    border-radius: 1.5rem;
    height: 1rem;
    width: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #415BA8;
}

.timeline-steps .timeline-content .inner-circle:before {
    content: "";
    background-color: #415BA8;
    display: inline-block;
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    border-radius: 6.25rem;
    opacity: .5
}

/* small - medium responsive size */
@media all and  (max-width: 1250px) {

    .judul{
        margin-top: 1rem;
        font-size: 55px;
    }

    .posdesc{
        display: flex;
        flex-direction: column;
    }

    .poster{
        width: 100% !important;
        padding: 0;
        margin-top: 20px !important;
    }

    .descPoster{
        width: 85% !important;
    }

    .descPoster p{
        font-size: 2rem !important;
    }

    .custom_button{
        margin: 0 !important;
        text-align: center;
    }

    .btn-outline-light{
        font-size: 2rem !important;
    }

    .section-title h2{
        font-size: 2rem;
    }

}

/* small responsive size */
@media all and (max-width: 767px) {
    .judul{
        font-size: 39px;
    }

    .descPoster p{
        font-size: calc(1.275rem + .3vw)!important;

    }

    .btn-outline-light{
        font-size: 18px !important;
    }

    .pic{
        width: 25% !important;
    }

    .section-title h2{
        text-align: center;
        font-size: 35px;
    }
}

@media all and (max-width: 363px) {
    .listDesc{
        flex-direction: column !important;
    }
}